<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    
    <% a = PigLatinizer.new %>
    <h2>Your phrase returned: <%= a.piglatinize(@phrase) %></h2>
    
  
  </body>
</html>